---
layout: base.njk
pagename: index
meta_title: "{{ title | safe }}"
permalink: "build/index.html"
permalinkBypassOutputDir: true
nickname: "You Thing"
---

<section>
  <article>
<h1>Posts</h1>
<ul>
{% for post in posts %}
  <li>
   <a href="posts/{{pos.slug}}"> {{ post.title }}</a>
    </li>
{% else %}
  <li>This would display if the 'item' collection were empty</li>
{% endfor %}
</ul>
  </article>
</section>
